.divForm {
    background-color: #e1e1e1;
    border-radius: 0.5rem;
    border: 1px solid #bfbfbf;
    font-size: 14px;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 16px;
    width: 300px;
}

.divForm label {
    color: #101010;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.divForm input {
    background-color: #cdcdcd;
    border-radius: 0.25rem;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    color: #101010;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 5px 12px;
    width: 100%;
}

.divForm ul {
    margin: 0px;
    margin-bottom: 16px;
    padding-inline-start: 26px;
}

.divForm .error {
    color: #da2828;
    font-size: 12px;
    font-weight: 100;
}

.divForm button {
    background-color: #3a7eec;
    border-radius: 0.25rem;
    border: 1px solid #00000040;
    color: #101010;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 5px 16px;
    text-align: center;
    width: 100%;
}

.hint {
    background-color: #e1e1e1;
    border-radius: 0.5rem;
    border: 1px solid #bfbfbf;
    display: flex;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 8px;
    width: 316px;
    place-items: center;
}

.hint h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 8px;
}

.hint button {
    background-color: #3a7eec;
    border-radius: 0.25rem;
    border: 1px solid #00000040;
    color: #101010;
    font-size: 16px;
    margin: 0px;
    padding: 4px;
    margin-left: auto;
}

.header {
    height: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
    width: 300px;
}

.header h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin: 0px;
}

.logo {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

.logo img {
    border-radius: 50%;
    height: 50px;
    margin: 30px;
    width: 50px;
}

.logo svg {
    margin: 5px;
    fill: #101010;
}