.divContainer {
    display: flex;
    align-items: center;
    width: 776px;
    height: 350px;
    margin: 0 auto;
}

.four {
    padding: 0px;
    font-size: 404px;
    margin: 0px;
    color: #11234c;
    text-shadow: 2px 6px 10px #0000008d,
    1px 1px 1px #1f60cc,
    -1px -1px 1px #1f60cc;
}

.border {
    margin-top: 20px;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background: linear-gradient(0deg ,#11234c 70%, #1f60cc 100%);
    border: 1px solid #1f60cc;
    box-shadow: 2px 6px 10px 0px #0000008d;
}

.border img {
    margin: 30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}