.divContainer {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.name {
    width: 320px;
    color: #101010;
    font-size: 28px;
    font-weight: 600;
    white-space: nowrap;
    letter-spacing: -1px;
    margin: 0px;
    margin-bottom: 8px;
}

.attribute {
    width: 300px;
    border-radius: 0.5rem;
    background-color: #cdcdcd;
    border: 1px solid #00000040;
    padding: 2px 8px;
    margin-bottom: 16px;
    box-shadow: 1px 3px 5px 0px #0000003f;
}

.attribute h2 {
    color: #101010;
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
}

.divAttributes {
    padding: 16px;
    background-color: #e1e1e1;
    border-radius: 0.5rem;
    border: 1px solid #bfbfbf;
    height: 100%;
    margin: 16px;
}

.extras {
    color: #101010;
}

.extras h3 {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
}

.extras hr {
    filter: opacity(0.3);
}

.character {
    margin: 16px;
    display: flex;
    align-items: center;
}

.character img {
    margin: 5px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.character button {
    background-color: #3a7eec;
    border-radius: 0.25rem;
    padding: 8px 4px;
    border: 1px solid #00000040;
    color: #101010;
    text-align: center;
}

.border {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background: linear-gradient(0deg ,#11234c 70%, #1f60cc 100%);
    border: 1px solid #1f60cc;
    box-shadow: 2px 6px 10px 0px #0000008d;
}

.unknown {
    background: linear-gradient(114deg ,#cdcdcd 70%, #a7a7a7 100%);
}
.Dead {
    background: linear-gradient(114deg ,#e53b3b 70%, #bf3535 100%);
}
.Alive {
    background: linear-gradient(114deg ,#78e53b 70%, #64c12e 100%);
}
.Genderless {
    background: linear-gradient(114deg ,#b179f3 70%, #9562ce 100%);
}
.Female {
    background: linear-gradient(114deg ,#f379ae 70%, #d36595 100%);
}
.Male {
    background: linear-gradient(114deg ,#79c8f3 70%, #68b0d6 100%);
}
.Animal {
    background: linear-gradient(114deg ,#e59e3b 70%, #c48630 100%);
}
.Robot {
    background: linear-gradient(114deg ,#e53b3b 70%, #bf3535 100%);
}
.Alien {
    background: linear-gradient(114deg ,#1cf395 70%, #13c97a 100%);
}
.Human {
    background: linear-gradient(114deg ,#f9e150 70%, #cab43c 100%);
}
.Mythological {
    background: linear-gradient(114deg ,#ff3bab 70%, #d02c89 100%);
}
.Humanoid {
    background: linear-gradient(114deg ,#e5a75f 70%, #b78347 100%);
}
.Poopybutthole {
    background: linear-gradient(114deg ,#d3ef37 70%, #aac228 100%);
}