.divContainer {
    margin: 30px 0px;
    z-index: 10;
}

.divContainer button {
    background-color: #3a7eec;
    border-radius: 0.25rem;
    border: 1px solid #00000040;
    color: #101010;
    font-size: 11px;
    height: 15px;
    margin-left: 195px;
    padding: 0px;
    width: 25px;
}

.card {
    background: linear-gradient(0deg ,#11234c 70%, #1f60cc 100%);
    border: 1px solid #1f60cc;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 2px 6px 10px 0px #0000008d;
    height: 320px;
    margin: 0px 10px;
    text-align: center;
    width: 220px;
}

.character {
    background-color: rgb(180, 0, 0);
    border-radius: 0.5rem;
    border: 1px solid rgb(200, 0, 0);
    box-shadow: 2px 6px 10px 0px #0000006f;
    height: 240px;
    margin: 5px;
    padding: 0px;
    text-align: justify;
    width: 210px;
}

.character img {
    border-radius: 0.5rem;
    height: 200px;
    margin: 5px;
    width: 200px;
}

.character h2 {
    color: #e3e3e3;
    font-size: 22px;
    font-weight: 500;
    height: 30px;
    letter-spacing: -0.5px;
    margin: 0px;
    margin-left: 5px;
    text-align: left;
    text-shadow: 1px 3px 3px #0000005e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo {
    height: 53px;
    width: 175px;
}

.light {
    box-shadow: 60px -20px 40px 15px #1f60cc;
    width: 120px;
}