.app {
   background-color: #cdcdcd;
   color-scheme: light;
   color: #101010;
   height: 100vh;
   width: 100vw;
}

.app a {
   color: #101010;
   text-decoration: none;
}

.background {
   background-image: url('../public/img/Background_Garage.png');
   background-size: cover;
}