.navBar {
    background: #e1e1e1;
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 0px -2px 16px 0px #00000030;
    display: flex;
}

.navElement {
    align-items: center;
    color: #101010;
    display: flex;
    height: 100%;
    margin: 0px;
    text-decoration: none;
}

.navElement img {
    border-radius: 50%;
    height: 50px;
    margin: 5px;
    width: 50px;
}

.navElement svg {
    margin: 5px;
    fill: #101010;
}

.navElement h4 {
    margin: 15px 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    white-space: nowrap;
}